@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100,
    "YTLC" 500;
    color: #6B3F88;

		}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6B3F88;
  position: fixed;
	top: 0;
	width: 100%;
	padding-top: 0%;
	z-index: 1000;
}

ul.topnav li {float: left; width: 25%;}

ul.topnav li a {
  display: block;
  color: #F4E2AE;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
	
	
}

ul.topnav li a:hover:not(.active) {background-color: #44064F;}

ul.topnav li a.active {background-color: #7870F2;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

h1 {
	font-size: 310%;
	margin-bottom: 0%;
	margin-right: 5%;
	margin-left: 10%;
}

h2 {
	font-size: 150%;
	padding-top: 3%;
	padding-bottom: 2%;
}

h5 {
	font-size: 90%;
	margin-bottom: 0%;
}
h6 {
	font-size: 80%;
	margin-bottom: 2%;
}
h4 {
	font-size: 130%;
}
h2, h3, h4 {
	text-align: center;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	padding-top: 2%;
}
h3 {
	font-size: 240%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	
}

body {
    font-family: "Noto Serif", system-ui;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    font-variation-settings: "wdth" 100;
	margin: 0%;
    background-color: #EAEAEC;
    color: #44064F;
	font-size: 150%;

		}
section {
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 2%;
	margin-bottom: 5%;
	
}

ul.principles {
    text-align: center;
    list-style-type:none;
    font-size: 150%;
    justify-content: center;
    list-style-position: inside;	
}
ul.principles li {
	padding-bottom: 30px;
	font-weight: 600;
}

.rightAlign {
	float: right;
	}
.leftAlign {
	float: left;
}
p {
	text-indent: 30px;
	margin-left: 12%;
	margin-right: 12%;
}
a {
	color: #7870F2;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
    color: #0C4C9C;
}
footer {
	background-color: #C7BAD9;
	padding-top: 30px;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 2%;
	text-indent: -20px;
	
}

header {
	
	padding-left: 10%; 
	padding-right: 10%;
	padding-top: 3%;
	padding-bottom: 2%;
	background-color: #F4E2AE;	
}
header h5, h6 {
	margin-left: 10%;
}
.bulletSpacing {
	padding-bottom: 2%;
}
span {
	background-color: #F3E2AE;
	padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.button a {
    background-color: #6B3F88;
    color: #F3E2AE;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
	font-family: "Nunito Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100,
    "YTLC" 500;
	
}
.button a:hover {
    background-color: #F3E2AE;
    color: #6B3F88
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2%;

}
.centerImage {
	display: block;
	margin: auto;
	padding-bottom: 2%;
}
.wrapper {
	padding-bottom: 5%;
}
.twoColumn {
	column-count: 2;
	column-gap: 40px;
}
.rightImage {
	display: block;
	float: right;
	margin-left: 10%;
}
.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.ImgTextSpace {
	display: flex;
	justify-content: space-between;
	margin-left: 27%;
	margin-right: 35%;
	margin-bottom: 5%;
	margin-top: 5%;
}

.rightText {
	text-align: left;
	margin-left: 0px;
}

.aboutMe {
	display: flex;
	justify-content: space-between;

}


.aboutMeImg {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-right: 15%
}

.aboutMeText  {
	
	position: relative;
	margin-right: 0%;
	margin-left: 15%;
	margin-top: 10%;
	text-align: left;
	float: left;
	/*background-color: blue
	*/
}

.aboutMeText h4 {
	
	font-size: 220%;
	margin: 0;

	
	
}

.aboutMeText h5 {
	
	font-size: 140%;
	margin: 0;
	margin-top: 25px;

}